:root {
   // text color
   --ht-regular-text-cl: #9fadbc;
   --ht-secondary-text-cl: #172b4d;
   --ht-light-text-cl: #c6ced5;
   --ht-rich-file-title-cl: #579dff;
   --ht-selected-text-cl: var(--ht-outline-cl);
   --ht-modal-text-cl: #b6c2cf;
   --ht-success-text-cl: #4bce97;
   --ht-warning-text-cl: #f5cd47;
   --ht-starred-cl: #ffd95e;
   --ht-error-text-cl: #ff0000;
   --ht-regular-dark-blue-cl: #065ad4;
   --ht-hover-dark-blue-cl: #4f71df;

   // outline
   --ht-regular-border-cl: #738496;
   --ht-outline-cl: #85b8ff;
   --ht-divider-cl: #a6c5e229;
   --ht-radio-outline-cl: #8c9bab;

   // background color
   --ht-regular-bgcl: #1f2123;
   --ht-phase-bgcl: #101204;
   --ht-focused-textfield-bgcl: #22272b;
   --ht-modal-board-bgcl: #323940;
   --ht-modal-btn-bgcl: #a1bdd914;
   --ht-modal-btn-hover-bgcl: #a6c5e229;
   --ht-confirm-btn-bgcl: #579dff;
   --ht-confirm-btn-hover-bgcl: #85b8ff;
   --ht-delete-btn-bgcl: #f87168;
   --ht-delete-btn-hover-bgcl: #fd9891;
   --ht-logo-loading-bar-bgcl: var(--ht-regular-text-cl);
   --ht-modal-popover-bgcl: #282e33;
   --ht-scrollbar-thumb-bgcl: #455159;
   --ht-scrollbar-thumb-hover-bgcl: #54636d;
   --ht-scrollbar-track-bgcl: #323940;
   --ht-hover-silver-bgcl: #333c43;
   --ht-img-backdrop-bgcl: #454f59;
   --ht-silver-white-bgcl: #dcdfe4;
   --ht-fade-layer-bgcl: #0000004d;
   --ht-regular-modal-bgcl: #00000085;

   // linear gradient
   --ht-purple-from-ligr: #7b61ff;
   --ht-pink-to-ligr: #ff61a6;

   // height
   --ht-top-nav-height: 56px;

   // width
   --ht-left-side-nav-width: 220px;
   --ht-task-modal-width: 768px;
}
